.folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: 5%;
    width: 7%;
    color: white;
    font-size: 15px;
    border-radius: 10px;
}

.folder:active {
    background-color: rgba(255, 255, 255, 0.124);
}

.folder p {
    border-radius: 5px;
    padding: 1px;
}

.folder:active p {
    background-color: rgb(0, 106, 255);
}

.folder img {
    width: 7vh;
}

.two {
    top: 45%;
    font-size: 13px;
    filter: brightness(70%);
}