
      <div class="fenetre3 windows4">
          <app-mac-btn (remove)="onQuit()"></app-mac-btn>
          <div class="contente3">
              <div class="mainphoto">
                  <div class="first">
                      <img src="/coffe.png" alt="">
                    </div>
                    <div class="firste">
                        <img src="/coffe.png" alt="">
                    </div>
                    <div class="seconde">
                        <img src="/Listify.png" alt="">
                        <img src="/pokedex.png" alt="">
                    </div>
                    <div class="seconde">
                        <img src="/meteo.png" alt="">
                        <img src="/avion.png" alt="">
                    </div>
                    <div class="firste">
                        <img src="/portfolio.png" alt="">
                    </div>
                </div>
            </div>
        </div>
