.fenetre3 {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 70%;
    top: 10%;
}

.fenetre3.active {
    display: flex;
}

.contente3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 20px;
}

.mainphoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 20px;
    max-height: 70vh;
    gap: 20px;
}

.first,
.seconde {
    display: flex;
    justify-content: center;
    width: 100%;
}

.first img,
.seconde img {
    width: 100%;
    max-width: 50rem;
    height: auto;
    border-radius: 10px;
}

.firste img {
    display: flex;
    width: 100%;
    max-width: 60rem;
    height: auto;
    border-radius: 10px;
}