
      <div class="fenetre3 windows4">
          <app-mac-btn></app-mac-btn>
          <div class="contente3">
              <div class="mainphoto">
                  <div class="first">
                      <img src="../images/coffe.png" alt="">
                    </div>
                    <div class="firste">
                        <img src="../images/coffe.png" alt="">
                    </div>
                    <div class="seconde">
                        <img src="../images/Listify.png" alt="">
                        <img src="../images/pokedex.png" alt="">
                    </div>
                    <div class="seconde">
                        <img src="../images/meteo.png" alt="">
                        <img src="../images/avion.png" alt="">
                    </div>
                    <div class="firste">
                        <img src="../images/portfolio.png" alt="">
                    </div>
                </div>
            </div>
        </div>
