<div class="fenetre4 windows1">
    <app-mac-btn (remove)="onQuit()"></app-mac-btn>
    <div class="contente4">
        <div class="mainmail">
            <div class="mails">
                <app-mail-case casestyle="uno4"></app-mail-case>
                <app-mail-case></app-mail-case>
                <app-mail-case></app-mail-case>
                <app-mail-case></app-mail-case>
                <app-mail-case></app-mail-case>
                <app-mail-case></app-mail-case>
                <app-mail-case></app-mail-case>
                <app-mail-case></app-mail-case>
            </div>
            <div class="viewsmail">
                <img src="/macOS_Mojave_Dark_Mode_Mail_dark_000.jpg" alt="">
            </div>
        </div>
    </div>
</div>