<div class="fenetre2 windows3">
    <app-mac-btn (remove)="onQuit()"></app-mac-btn>
    <div class="contente2">
        <div class="main">
            <h2>Top Sites</h2>
            <div class="sites">
                <app-safari-case title="To-do-list Listify"></app-safari-case>
                <app-safari-case title="Coffe-shop website" image="/coffe.png"></app-safari-case>
                <app-safari-case title="Meteo webapp" image="/meteo.png"></app-safari-case>
                <app-safari-case title="Pokedex website" image="/pokedex.png"></app-safari-case>
            </div>
            <h2>Privacy Report</h2>
            <div class="cube">
                <p>Safari has not encountered any trackers in the seven days.</p>
            </div>
        </div>
    </div>
</div>